@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Base font sizes */
  font-size: 1rem;
  color: #ffff;
  background-color: #020015;
  padding-top: 56px;
  padding-bottom: 90px;
  overflow-x: hidden !important;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 5.25rem;
  overflow-wrap: break-word;
  /* Ensures long words break and wrap */
  word-break: break-word;
  /* Ensures long words break and wrap */
}

h3 {
  font-size: 3.25rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

.h1-footer {
  font-size: 9rem !important;
}

.font-anton {
  font-family: "Anton", sans-serif;
  font-style: normal;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
  font-size: 1.25rem;
  padding: 1.5rem 2.5rem;
  border-radius: 64px;
}

.btn-primary {
  color: #6155E1;
  background: #fff;
}

.primary-color {
  color: #6155e1;
}

.secondary-color {
  color: #62606f;
}

.pink-color {
  color: #d68ccb;
}

.bg-light-grey {
  background: rgba(255, 255, 255, 0.20);
}

.bg-purple {
  background-color: #6155e1;
}

.text-outline {
  font-size: 17.5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #62606F;
  color: transparent;
}



.service-section svg {
  width: 80px;
  height: 80px;
}

.process-section .icon-wrapper {
  min-width: 110px;
  width: 110px;
}


/* Responsive font sizes */

@media (max-width: 1279.97px) {
  .text-outline {
    font-size: 16rem;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  .h1-footer {
    font-size: 6rem !important;
  }

  .process-section .icon-wrapper {
    min-width: 80px;
    width: 80px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .h1-footer {
    font-size: 4.5rem !important;
  }

  .text-outline {
    font-size: 12rem;
  }

  .service-section svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  body {
    /* padding: 20px; */
    /* Reduced padding for mobile */
  }

  h1 {
    font-size: 2.5rem;
    /* Adjusted for mobile */
  }

  h2 {
    font-size: 2rem;
    /* Adjusted for mobile */
  }

  h3 {
    font-size: 1.5rem;
    /* Adjusted for mobile */
  }

  h4 {
    font-size: 1.25rem;
    /* Adjusted for mobile */
  }

  h5 {
    font-size: 1rem;
    /* Adjusted for mobile */
  }

  .h1-footer {
    font-size: 3rem !important;
    /* Adjusted for mobile */
  }

  .text-outline {
    font-size: 10rem;
  }

  .py-12 {
    padding-top: 1rem;
    /* Reduced padding for mobile */
    padding-bottom: 1rem;
    /* Reduced padding for mobile */
  }

  .service-section svg {
    width: 45px;
    height: 45px;
  }

  .process-section .icon-wrapper {
    min-width: 50px;
    width: 50px;
  }
}

img {
  max-width: 100%;
  /* Ensures images don't overflow */
  height: auto;
  /* Maintains aspect ratio */
}

.hero_top_left {
  border: 0.725px solid #423c3c;
  background: linear-gradient(180deg, #533d50 0%, #18171d 100%);
  box-shadow: 0px 0px 10px 0px rgba(214, 140, 203, 0.8);
}